.container {
    display: grid;
    grid-template-rows: 3rem 1fr;
    grid-gap: 1rem;
    height: 100%;
}

.header {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 1rem;
    width: 100%;
    align-items: center;
}

.fileContent {
    word-break: break-all;
    white-space: pre-wrap;
    text-align: left;
    width: 100%;
}

.editorContainer {
    display: flex;
    height: auto;
    max-height: 100%;
    overflow-y: auto;
    border: 1px solid #282a36;
}

.editorContainer.active {
    border-color: darkseagreen;
}

.editorContainer pre {
    outline: none!important;
}

.imageContainer {
    align-items: center;
    justify-content: center;
    display: grid;
    height: 100%;
    width: 100%;
}

.imageContainer img {
    max-width: 90%;
    max-height: 90%;
}

.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.openedProject + a {
    margin-left: 1rem;
}